name: Gemini Classifications Pipeline

on:
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: create-json
      id: create-json
      uses: jsdaniell/create-json@1.1.2
      with:
        name: "credentials.json"
        json: ${{ secrets.STORAGE_KEY }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run ETL script
      env:
        STORAGE_KEY: ${{ secrets.STORAGE_KEY }}        
        API_KEY: ${{ secrets.API_KEY }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        
      run: |
        python gemini_classification.py
